name: Release

on:
  release:
    types: [published]

jobs:
  build-artifacts:
    permissions:
      contents: write
    uses: ./.github/workflows/build-artifacts.yml

  upload-release-assets:
    needs: [build-artifacts]
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v4
        with:
          path: artifacts
      - name: Upload assets
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          TAG_NAME=${{ github.ref_name }}
          cd artifacts
          for dir in */; do
            archive=$(find "$dir" -type f \( -name "*.tar.gz" -o -name "*.zip" \) | head -n 1)
            if [ -n "$archive" ]; then
              gh release upload "$TAG_NAME" "$archive" --clobber
            fi
          done

  publish-crate:
    needs: [upload-release-assets]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - uses: dtolnay/rust-toolchain@stable
      
      - name: Publish to Crates.io
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
        run: cargo publish
